/* My Styles */


/* Vertical and Horizontal aligment of container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* random Beegee classes*/ 

img {
    width: 560px;
    height: 500px;
    object-fit: cover;
    padding-left: 20px;
    padding-top: 15px;

  }
  
  .bg0 {
    background-image: url('https://img.freepik.com/free-vector/wave-textures-white-background-vector_53876-60286.jpg?w=1800&t=st=1684192039~exp=1684192639~hmac=8df5ec0a39dcc0410589fa8ab7a46de597ca5df04762f4edb6d5bcdcc2a0aa9d');

  }
  
  .bg1 {
    background-image: url('https://img.freepik.com/free-vector/wave-textures-white-background-vector_53876-60286.jpg?w=1800&t=st=1684192039~exp=1684192639~hmac=8df5ec0a39dcc0410589fa8ab7a46de597ca5df04762f4edb6d5bcdcc2a0aa9d');
  }
  
  .bg2 {
    background-image: url('https://img.freepik.com/free-vector/wave-textures-white-background-vector_53876-60286.jpg?w=1800&t=st=1684192039~exp=1684192639~hmac=8df5ec0a39dcc0410589fa8ab7a46de597ca5df04762f4edb6d5bcdcc2a0aa9d');

  }


 /* scene */
.scene {
    width: 600px;
    height: 720px;
    /* space between card-scenes */
    margin: 16px;

    /* set perspective   */
    perspective: 600px;
}

/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 70px;
    margin-bottom: 40px;

    cursor: pointer;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;
}
/* text styling */
h1{
    font-size: 40px;
    text-align: center;
    font-family: Quilon-Bold;
    margin: 10px;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: GeneralSans-Regular;
}
h3 {
    font-size: 40px;
    text-align: center;
    font-family: Quilon-Bold;
    margin: 20px;
}
/* face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;

    /* hide back face   */
    backface-visibility: hidden;
}

.front {
    background: rgb(123, 179, 109);
}

.back {
    background: cornflowerblue;
    /* flip it default   */
    transform: rotateY(180deg);
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}

/* Media Query for Mobile */
@media only screen and (max-width: 30em){ 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }

    body {
        display: flex;
        flex-direction: column;
    }
    
}